*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
form {
    margin: 30px;
    max-width: 500px;
    display: flex;
    flex-direction:column ;
  }

h2{
    margin-top: 30px;
}
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }


  input[type="text"],
  
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }


  input[type="submit"] {
    background-color: rgb(17, 189, 17);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }