* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    margin: 0 auto;
    text-align: center;
    background-color:grey ;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

footer {
    text-align: center;
    margin-top: 17px;
    font-size: 20px;
}